<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:replace="index :: first"></head>

<body>

<nav th:replace="index :: shortcut"></nav>

<div class="container">
    <div class="r1 row">
        <div class="c1 col">
            <h1 class="w2"> Wings Recipe </h1>
            <img src="https://images.unsplash.com/photo-1496074620649-6b1b02e5c1c8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2e9d11899437353c07715bd11ff7588c&auto=format&fit=crop&w=500&q=60" alt="This is wings"/>
        </div>
        <div class="c2 col">
            <h1 class="cr2"> Crabcake Recipe </h1>
            <img src="https://images.unsplash.com/photo-1484715340216-6e77040b1852?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d0626f7e6870600e976b61b0c83cee4&auto=format&fit=crop&w=1050&q=80" alt="This is a crab"/>
        </div>
    </div>
    <div class="r2 row">
        <div class="c3 col">
            1 of 2
        </div>
        <div class="c4 col">
            2 of 2
        </div>
    </div>
    <div class="r3 row">
        <div class="c5 col">
            1 of 2
        </div>
        <div class="c6 col">
            2 of 2
        </div>
    </div>
    <div class="r4 row">
        <div class="c7 col">
            1 of 2
        </div>
        <div class="c8 col">
            2 of 2
        </div>
    </div>
</div>

</body>
</html>