<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:replace="index :: first"></head>

<body>

<nav th:replace="index :: shortcut"></nav>

<!--nav th:replace="/templates/index::thenav(${menuoption})"></1--nav> -->

<div class="container">
    <h1 class="noodles">Pumpkin Rice Noodles Recipe</h1>

    <img src="https://i.pinimg.com/originals/65/f7/3f/65f73fbb8917280af96113152cbebfc0.jpg" alt="This is pumpkin rice noodles"/>
    <br/><br/>
    <h1 class="taiwan"> Country: Taiwan </h1>
    <img src="https://cdn-images-1.medium.com/max/1200/1*YubdQxXufyVs0fRsNeXWIw.jpeg" alt="This is the Taiwaneses flag"/>
    <br/><br/>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">

            <h2> Ingredients: </h2>

            <ul class="pingredients">
                <li class="pingredients">100g (3.5 oz) dried rice vermicelli</li>
                <li class="pingredients">2 tablespoons oil</li>
                <li class="pingredients">2 cloves garlic, minced</li>
                <li class="pingredients">100g (3.5 oz) ground pork</li>
                <li class="pingredients">100g (3.5 oz) pumpkin (or kabocha), diced</li>
                <li class="pingredients">½ cup water</li>
                <li class="pingredients">2 tablespoons soy sauce</li>
                <li class="pingredients">1 tablespoon sweet soy sauce</li>
                <li class="pingredients">3 dashes white pepper</li>

            </ul>
        </div>
        <div class="col-7">
            <h2>   Directions: </h2>
            <p>
                1. Soak the dried rice vermicelli in warm water for about 20 minutes. Drain the water and set aside.<br/>
                2. Heat up the oil in a wok and add the garlic. Stir-fry the garlic until aromatic before adding the ground pork and pumpkin.<br/>
                3. Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil.<br/>
                4. Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok. Continue to stir fry until the vermicelli is cooked through and soaked up the sauce. Dish out and serve immediately.<br/>

                Serves 1 | Prep Time: 15 minutes | Cook Time: 5 minutes</p><br/>
        </div>
    </div>
</div>

</body>
</html>

