<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:replace="index :: first"></head>

<!-- <head>
    <meta charset="UTF-8"/>
    <title>Crabby Web Recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head> -->
<body>

<nav th:replace="index :: shortcut"></nav>

<!--<nav th:replace="/templates/index::thenav(${menuoption})"></nav> -->

<!-- <nav th:replace="index :: shortcut(${activeTab})"></nav>-->

<!--original: <nav th:replace="index :: shortcut"></nav> -->


<!-- <nav>
<div th:fragment="topnav">

    <div class="topnav">
        <ul>
            <li class="recipe"><a href="#">My Recipe Book</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/wings">Wings Recipe</a></li>
            <li><a href="/uindex">Crab Cake Recipe</a></li>
            <li><a href="/injeraindex">Injera</a></li>
        </ul>
    </div>
</nav> -->

<div class="container">
<h1 class="crabcake"> Crabcake Recipe </h1>

<img src="https://images.unsplash.com/photo-1484715340216-6e77040b1852?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d0626f7e6870600e976b61b0c83cee4&auto=format&fit=crop&w=1050&q=80" alt="This is a crab"/>
 <br/><br/>
    <h1 class="USA"> Country: USA </h1>
    <br/>
    <img src="https://images.unsplash.com/photo-1505776832033-de17ccccbd44?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b6062a6110d1a422cf40c9252dc4f87a&auto=format&fit=crop&w=1050&q=80" alt="This is the flag of the USA"/>
    <br/><br/>
</div>
<!-- <img src="img/crab.jpg" alt="This is a crab"/>
<img src="img/uflag.jpg" alt="This is the USA flag"/> -->


<div class="container">
    <div class="row">
        <div class="col-3">

            <h2> Ingredients: </h2>

            <ul class="jumbo">
                <li class="jumbo">1 lb. jumbo lump or backfin crab meat</li>
                <li class="jumbo">2 slices bread or bread crumbs</li>
                <li class="jumbo">1 tbsp. mayonnaise (light or regular)</li>
                <li class="jumbo">1 tbsp. Dijon mustard</li>
                <li class="jumbo">2 tsp. Old Bay seasoning</li>
                <li class="jumbo">1 tbsp. snipped parsley</li>
                <li class="jumbo">1 egg (or substitute for special diets)</li>
                <li class="jumbo">tartar sauce or cocktail sauce</li>
            </ul>
        </div>
        <div class="col-7">
            <h2> Directions: </h2>
            <p>
                Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. <br/><br/>

                Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning and parsley, and beat well. <br/><br/>
                Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together, taking care not to break up the lumps of crabmeat.<br/><br/>

                Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball.<br/><br/>
                Place the cakes in the refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.<br/></p>

            <h2>Broil the Crab Cakes:</h2>
            <p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</p>

            <h2>Or saute:</h2>
            <p> Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden brown or about 8 minutes total cooking time.
                Serve at once with tartar sauce, mustard, or cocktail sauce on the side.<br/><br/>

                Serves 6 people.</p>

        </div>
    </div>

    <!--
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-5">
            2 of 3 (wider)
        </div>
        <div class="col">
            3 of 3
        </div>
    </div> -->
</div>

<!-- Note: html tags should be in lower case!
H1 tags for "Crabcake Recipe"
H2 tags for the ingredients header
UL and LI tags for the ingredients
<P> paragraph tags for each paragraph
    <img> for images. Images include the alt and src attributes
    Submit your completed solution to GitHub. -->


</body>
</html>